<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% if title %}{{ title }}{% else %}Virgil's Site{% endif %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>Virgil’s Potting Shed</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>© 2025 Virgil Twobyfour</p>
  </footer>
</body>
</html>
