---
permalink: "/categories/index.html"
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{% block content %}
  <h1>All Categories</h1>

  {% if collections.categoryList.length == 0 %}
    <p>No categories found.</p>
  {% else %}
    <ul>
      {% for category in collections.categoryList %}
        <li><a href="/categories/{{ category | slug }}/">{{ category }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <p><a href="/ramblings/">Back to blog</a></p>
{% endblock %}
