---
permalink: "/categories/"
---

{% extends "base.njk" %}

{% block content %}
  <h1>All Categories</h1>

  <ul>
    {% for category in collections.categoryList %}
      <li><a href="/categories/{{ category | slug }}/">{{ category }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
