---
pagination:
  data: collections.tagList
  size: 1
  alias: tagObj
permalink: "/tags/{{ tagObj.slug }}/index.html"
---

{% extends "base.njk" %}

{% block content %}
  <h1>Posts tagged "{{ tagObj.name }}"</h1>

{% set postsForTag = collections.postsByTag[tagObj.name] if collections.postsByTag[tagObj.name] else [] %}


  {% if postsForTag.length == 0 %}
    <p>No posts found for this tag.</p>
  {% else %}
    <ul>
      {% for post in postsForTag %}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a> - <small>{{ post.date | readableDate }}</small></li>
      {% endfor %}
    </ul>
  {% endif %}

  <p><a href="/tags/">Back to all tags</a></p>
{% endblock %}
