---
permalink: "/tags/index.html"
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{% block content %}
  <h1>All Tags</h1>

  {% if collections.tagList.length == 0 %}
    <p>No tags found.</p>
  {% else %}
    <ul>
      {% for tag in collections.tagList %}
        <li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <p><a href="/ramblings/">Back to blog</a></p>
{% endblock %}
